.main {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.index {
  height: 100vh;
  width: 100vw;
}

.Wrapper {
  width: max-content;
  margin-left:2.5vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 25px;
}

.wrap_div{
  border-radius: 30px;
  background-color: antiquewhite;
  color: aquamarine;
}

.h2 {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (max-width: 550px) {
  .Wrapper {
    width: 40vw;
    display: grid;
    grid-template-columns: 45vw 45vw;
    margin-right:5vw;
  }
}